<header>
  <h1 class="custom1">TITRE 1</h1>
  <h2>Partie 1</h2>

</header>

<main>
  <section>
    <div>
        <p>Nunc interdum blandit neque, vitae hendrerit risus. Nulla ac pulvinar sem. Nullam dignissim ac odio non varius. Nunc fermentum pharetra. </p>
        <p>Aliquam arcu turpis, vehicula vitae ornare nec, luctus sit amet mi. Fusce eleifend tincidunt metus.</p>

        <ul>
          <li>Element 1</li>
          <li>Element 2</li>
          <li>Element 3</li>
        </ul>
    </div>
    
    <a href="https://github.com/Ziyad091">Regarde la vidéo</a>

    <div class="details">
      <img class="reglage" src="https://mediapool.bmwgroup.com/cache/P9/202206/P90468284/P90468284-the-first-ever-bmw-m3-touring-frozen-black-06-2022-600px.jpg" alt="Bmw m3">
      <img class="reglage" src="https://cdn.motor1.com/images/mgl/W8oJZg/s1/2024-audi-rs6-avant-performance-pricing.webp" alt="audi rs6">
      <img class="reglage" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXAGvACH_OwSRVy3jDoSnIAiMlFL-qmOit_A&s" alt="e63s">
    </div>
    <p> Mauris finibus ultricies purus eu imperdiet. Nunc et euismod odio, a aliquet massa. sagittis tristique lorem. Phasellus quam.</p>
    <p> Énéen tempus mollis rutrum. Aliquam porta lacus vel aliquam tristique. Énéen nunc magna, aliquet blandit.</p>
    <div>



    </div>
  </section>
</main>

<footer>

</footer>