<Main>

    <section>

    </section>

    <div class="custom-image">

        <figure class="custom-figure">

            <img class="img" src="https://www.supersprint.com/public/img/001-505797.jpg" alt="BMW m5 e60">

            <figcaption class="description"> BMW M5 e60 </figcaption>

        </figure>

    </div>

    <div>

        <h2 class="intro"> Introduction : </h2>

        <p class="txt"> La BMW M5 E60, produite entre 2005 et 2010, est une icône dans le monde des berlines sportives.
            Représentant
            la cinquième génération de la série M5, elle se distingue par son caractère unique, alliant luxe et
            performances. Sous son capot, la M5 E60 cache un moteur V10 atmosphérique de 5,0 litres, développant 507
            chevaux, une puissance inédite pour l'époque dans une berline. Ce moteur, directement inspiré de la Formule
            1, permet à la M5 d'atteindre des vitesses vertigineuses tout en offrant une conduite raffinée et
            confortable. Avec son design agressif et ses technologies avant-gardistes, la BMW M5 E60 reste un symbole
            d'ingénierie allemande et une référence pour les amateurs de conduite sportive. </p>

    </div>

    <div>


        <button (click)="updateShowCarac()">{{textCarac}}</button>




        <div *ngIf="showCarac">

            <h3 class="style"> Moteur </h3>
            <ul>
                <li> Type : V10 atmosphérique </li>
                <li> Cylindrée : 5,0 litres (4 999 cm³) </li>
                <li> Puissance maximale : 507 chevaux (373 kW) à 7 750 tr/min </li>
                <li> Couple maximal : 520 Nm à 6 100 tr/min </li>
                <li> Couple maximal : 520 Nm à 6 100 tr/min </li>

            </ul>


            <h3 class="style"> Performances </h3>
            <ul>
                <li> Accélération 0-100 km/h : 4,7 secondes </li>
                <li> Vitesse maximale : 250 km/h (limitée électroniquement) ; environ 305 km/h avec le M Driver's
                    Package </li>
                <li> Transmission : Boîte de vitesses robotisée SMG III à 7 rapports, avec palettes au volant </li>
            </ul>

            <h3 class="style"> Châssis et suspension </h3>
            <ul>
                <li> Suspension avant : Double triangle avec ressorts hélicoïdaux </li>
                <li> Suspension arrière : Multibras avec ressorts hélicoïdaux </li>
                <li> Freins : Disques ventilés avec étriers flottants (avant et arrière) </li>
                <li> Pneus : Avant : 255/40 ZR19, Arrière : 285/35 ZR19 </li>

            </ul>

            <h3 class="style"> Dimensions </h3>
            <ul>
                <li> Longueur : 4 855 mm </li>
                <li> Largeur : 1 846 mm </li>
                <li> Hauteur : 1 469 mm </li>
                <li> Empattement : 2 890 mm </li>
                <li> Poids à vide : Environ 1 855 kg </li>

            </ul>

            <h3 class="style"> Intérieur et technologies </h3>
            <ul>
                <li> Sièges : Cuir Merino, réglages électriques avec mémoire </li>
                <li> Système de son : Système audio de haute qualité Logic7, avec 13 haut-parleurs </li>
                <li> Système de navigation : GPS avec écran couleur et commandes iDrive </li>
                <li> Climatisation : Régulation automatique à 4 zones </li>
                <li> Volant : Multifonction, gainé de cuir avec palettes de changement de vitesse </li>

            </ul>

            <h3 class="style"> Sécurité </h3>
            <ul>
                <li> Airbags : Frontaux, latéraux et rideaux </li>
                <li> Système de freinage : ABS, Contrôle de traction (DTC), Contrôle dynamique de la stabilité (DSC)
                </li>
                <li> Autres systèmes : Aide au démarrage en côte, Système de contrôle de pression des pneus </li>

            </ul>

            <h3 class="style"> Consommation et émissions </h3>
            <ul>
                <li> Consommation mixte : Environ 14,8 l/100 km </li>
                <li> Émissions de CO2 : Environ 357 g/km </li>

            </ul>

        </div>

    </div>

</Main>

<h2 class="def"> Défauts </h2>

<p> La BMW M5 E60, bien que performante, présente quelques défauts notables. Le moteur V10 est puissant, mais sa
    fiabilité est souvent critiquée, notamment en raison de l'usure prématurée des composants. La boîte de vitesses SMG
    III, parfois brutale à basse vitesse, n'est pas toujours agréable en ville. La consommation de carburant est élevée,
    tout comme les coûts d'entretien et de réparation, rendant cette voiture coûteuse à utiliser au quotidien. De plus,
    son poids et sa suspension sportive peuvent rendre la conduite en ville moins confortable. </p>