.customtitre{

    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 300%;
    text-align: center;
    color: black;

}

header {
border: 2px solid black;
}

.header-logo {
width: 20%;

}

.customlogo{
width: 100%;

}

.custom1{


width: 100%;

}

.customf{

display:flex;


}

.custommenu{

display:flex;
justify-content: center;
list-style-type:none;


}

.custommenu:hover{
color: indigo;


}

.custommenu li{

margin: 1em;



}